<%- include('partials/header.ejs') %>

<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Editing post message
      </h3>
      <% if (posts.length===0) { %>
      <article class="blog-post">
        <h2 class="blog-post-title">
          No posts to display yet!
        </h2>
      </article>
      <% } else { %>
      <article class="blog-post">
        <form action="/save" method="POST">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="postTitle" name="title" value=<%= posts[postNumber].title %>>
          </div>
          <div class="mb-3">
            <label for="postMessage" class="form-label">Message</label>
            <textarea class="form-control" rows="10" id="postMessage" name="message" required><%= posts[postNumber].msg %></textarea>
          </div>
          <input type="hidden" name="postNumber" value="<%= postNumber %>" />
          <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary  mb-3">Save</button>
            <button type="reset" class="btn btn-light btn-outline-secondary mb-3">Reset</button>
          </div>
        </form>
      </article>
      <% } %>
      <nav class="blog-pagination" aria-label="Pagination"> <a class="btn btn-outline-primary rounded-pill" href="#">Older</a> <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a> </nav>
    </div>

    <%- include('partials/sidebar.ejs') %>

    <div class="m-0 col-12">
      <h3 class="py-4 m-0 fst-italic border-top">
        Add a post
      </h3>
      <form action="/create" method="POST">
        <div class="mb-3">
          <label for="postTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="postTitle" name="title" placeholder="What's your title?" required>
        </div>
        <div class="mb-3">
          <label for="postMessage" class="form-label">Message</label>
          <textarea class="form-control" id="postMessage" name="message" placeholder="What would you like to post today?" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Post</button>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>